/**
* Abas
**/

.tabs {
  @include col(10/12, $offset:1/12);
  overflow: hidden;
  margin-top: 6em;
  margin-bottom: 6em;

  .nav-tabs {
    overflow: hidden;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 6em;

    li {
      display: inline-block;
      list-style: none;
      border: 1px solid $corBordaAba;
      background: $corAbaInativa;
      margin-left: -2px;
      margin-right: -2px;
      padding: $paddingAba;
      position: relative;
      cursor: pointer;
      font-weight: $bold;
      text-transform: uppercase;

      a {
        color: $corLinkAba;
        font-size: $fontSizeAba;
      }

      &:hover {
        background: $corAbaHover;

        a {
          color: $corLinkAbaHover;
        }
      }

      &.ativo {
        background: $corAbaAtiva;
        color: #fff;

        a {
          color: #fff;
        }
      }
    }
  }

  .tab-pane {
    display: none;
    background: #fff;
    border-top: 0;
    @include borderRadius(2px);
  }
}

.coluna {
	@include col(3/10);
	h3 {
		margin-top: 2em;
	}
  a.botao {
    margin-top: 1em;
  }
}

#screenshot_01 {
	@include col(6/10, $offset:-1/10);

	img {
		@include center();
    max-width: 100%;
	}
}

#screenshot_02 {
	@include col(4/10);

	img {
		@include center();
    max-width: 100%;
	}
}

#screenshot_03 {
	@include col(6/10, $offset:1/10);

	img {
		@include center();
    max-width: 100%;
	}
}

a.botao_download {
	display: block;
	margin-top: 2.5em;
}
