/**
* Equipe
**/

.texto_intro {
	@include col(10/12, $offset:1/12);
	@include cf();
	margin-top: 2em;
	margin-bottom:8em;
	text-align: center;
}

#equipe {
	@include col(10/12, $offset:1/12);
	@include cf();
}

.profissional {
	@include col(1/3, $cycle:3);
	position: relative;
	border: 1px solid $corBorda;
	margin-bottom: 3em;
	padding: 3em;

	h3 {
		font-size: 2.4em;
		margin: 1em 0 0 0;
	}

	span.cargo {
		font-size: 1.8em;
		color: $corCinza;
		margin-bottom: 1em;
		display: block;
	}

	p {
		font-size: 1.4em;
		color: $corCinza;
	}
}

.avatar_profissional	img {
	@include center();
	@include borderRadius(50%);
	@include sombra(0, 1px, 4px, 0.25);
	border: 6px solid #FFF;
}
